.container {
    max-width: 1170px;
    max-height: 659px;
    height: 85vh;
    margin: 2vh auto 0 auto;
    background-color: #27366A;
    border-radius: 20px;
    position: relative;
}

.videoContainer {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.myVideo {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transform: scaleX(-1);
    transition: ease-in-out 0.5s;
}

.myVideosmall {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transform: scaleX(-1);
    transition: ease-in-out 0.5s;
}

.mySamllVideoContainer {
    background-color: #27366A;
    border-radius: 20px;
    position: absolute;
    top: 2%;
    right: 1.5%;
    z-index: 99999;
    width: 25%;
    height: 25%;
}

.userVideoContainer {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.userVideo {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transform: scaleX(-1);
    transition: ease-in-out 0.5s;
}

.controls {
    position: absolute;
    z-index: 99;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
}

.bg {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.av {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.avatar {
    position: absolute;
    z-index: 88;
    width: 70%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: ease-in-out 0.5s;
}